:root {
	--back: #121212;
	--menu: #181818;
	--topgrad: #404040;
	--botgrad: #282828;
	--ptext: #FFFFFF;
	--stext: #B3B3B3;
}
body {
	background: var(--bg);
	color: var(--fontColor);
	font-family: helvetica;
}

ul {
    font-family: helvetica;
}
li {
	list-style: circle;
}
.list {
	list-style:square;
}
#msg {
	font-family: monospace;
}
.dark-theme {
	--bg: var(--back);
	-fontColor: var(--ptext);
}


