:root {
	--back: #121212;
	--menu: #181818;
	--topgrad: #404040;
	--botgrad: #282828;
	--ptext: #FFFFFF;
	--stext: #B3B3B3;
}
html, body {
	margin: 0px;
	background: var(--bg);
	color: var(--fontColor);
	font-family: helvetica;
	overflow:auto;
	height:100%;
	width:100%;
}
#page {
	height:100%;
	width:100%;
	display:flex;
	justify-content:center;
}
h1 {
	text-align:center;
	font-size:3vw;
}
p {
	text-align:center;
	font-size:20px;

}
.section {
	position:relative;
	background: var(--botgrad);
	border-radius:25px;
	overflow:auto;
	width:80%;
	height:70%;
	margin-top:3%;
	padding: 20px 20px;
	display:flex;
}
#text {
	height:95%;
	flex:1.5;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
#imgCont {
	height:100%;
	flex:1;
	float:left;
	display:flex;
	align-items:center;
}
.image {
	position:relative;
	float:left;
	overflow:auto;
	border-radius:50%;
	width:100%;
	height:90%;
	margin-left:10px;
}
.dark-theme {
	--bg: var(--back);
	--fontColor: var(--ptext);
}
.btn {
	width: 200px;	
	padding: 15px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	border: none;
	float: left;
	color: var(--ptext);
	background-color: var(--botgrad);
	transition-duration: 0.4s;
	cursor:pointer;
}
.btn:hover {
	background-color: var(--topgrad);
	color: var(--ptext);
}
#this {
	color: var(--stext);
}
.buttons {
	overflow:auto;
	width: 100%;
	z-index:5;
	background-color: var(--botgrad);
	position:sticky;
	top:0;
}

.btn2 {
	width: 40%;
	padding:1% 2%;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	border: none;
	border-radius:10px;
	float: left;
	color: var(--ptext);
	background-color: var(--menu);
	transition-duration: 0.4s;
	cursor:pointer;
}
.btn2:hover {
	background-color: var(--topgrad);
	color: var(--ptext);
}
#buttons2 {
	display:flex;
	justify-content:space-between;
}

canvas {
	display:block;
	vertical-align:bottom;
}
#particles-js {
  z-index:-1;
  position: fixed;
  height:100%;
  width:100%;
  background-color: var(--bg);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  z-index:-1;
  background: var(--bg);
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
